<!-- Post, Page Content
================================================== -->
<div class="article-post">
    <!-- Toc if any -->
    {% if page.toc %}
    {% if page.beforetoc %}
        <p><em>{{page.beforetoc}}</em></p>
    {% endif %}
    <div class="toc mt-4 mb-4 lead">
        <h3 class="font-weight-bold">Summary</h3>
        {% include toc.html html=content %}
    </div>
    {% endif %}
    <!-- End Toc -->
    {{content}}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-9114015255960073"
     data-ad-slot="3448169421"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>